{% extends "base.html" %}

{% block content %}
<main class="container">
    <section class="section">
        <h1 class="section-title">Contact Us</h1>
        <div class="contact-info">
            <h2>Archery Federation of Kyrgyzstan</h2>
            <p>Address: [Your Address Here]</p>
            <p>Phone: +996 XXX XXX XXX</p>
            <p>Email: info@archery.kg</p>
            
            <h3>Social Media</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}