{% extends "base.html" %}

{% block content %}
<main class="container">
    <section class="section">
        <h1 class="section-title">Upcoming Events</h1>
        <div class="event-list">
            {% for event in events %}
            <article class="news-card">
                    {% if event.image_url %}
        <img src="{{ event.image_url }}" alt="Event image">
    {% endif %}
             <div class="news-card-content">
                <h3>{{ event.title }}</h3>
                <p><strong>Date: </strong>{{ event.date.strftime('%B %d, %Y at %H:%M') }}</p>
                <p><strong>Location:</strong> {{ event.location }}</p>
                <p><strong>Contact:</strong> {{ event.contact }}</p>
                <p>{{ event.description }}</p>
                <a href="{{ url_for('register', event_id=event.id) }}" class="btn">Зарегистрироваться</a>


            </div>
            </article>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}