{% extends "base.html" %}

{% block content %}
<main class="container">
    <section class="section">
        <h1>Регистрация на мероприятие: {{ event.title }}</h1>
        <form method="POST">
            <label for="name">Имя:</label>
            <input type="text" name="name" required>

            <label for="phone">Телефон:</label>
            <input type="text" name="phone">

            <label for="email">Email:</label>
            <input type="email" name="email">
            <label for="gender">Пол:</label>
           <select name="gender" id="gender">
                <option value="male">Мужской</option>
                <option value="female">Женский</option>
           </select>


            <button type="submit">Отправить</button>
        </form>
    </section>
</main>
{% endblock %}
